<footer class="site-footer {{ post_class }}">
    <section class="copyright"><a href="{{ @blog.url }}">{{ @blog.title }}</a> &copy; {{ date format="YYYY" }}</section>
</footer>

{{!-- Footer --}}
{{> "modals-profile"}} 