{{!< default}}

{{! This is a page template. A page outputs content just like any other post, and has all the same
    attributes by default, but you can also customise it to behave differently if you prefer. }}

{{! Everything inside the #post tags pulls data from the page }}
{{#post}}

<nav class="profile-options-wrapper">
	<ul>
		<li title="Profile settings"><a href=""><i class="uk-icon-user"></i></a></li>
		<li title="Create my own theme"><a href=""><i class="uk-icon-cogs"></i></a></li>
		<li title="My bills"><a href=""><i class="uk-icon-bitcoin"></i></a></li>
        <li title="Download Themes & apps"><a href=""><i class="uk-icon-download"></i></a></li>
		<li title="Sign out" class="logout"><a href=""><i class="uk-icon-sign-out"></i></a></li>
	</ul>
</nav>

<main class="profile-content" role="main">

    <section class="common-profile-area user-setting-area"></section>
    <section class="common-profile-area bills-area"></section>
    <section class="common-profile-area downloads-area">
        <section class="profile-block themes-apps">
            <h2>Themes &amp; apps</h2>
            <ul class="gt-themes uk-grid"></ul>
        </section>

    </section>

    {{!-- Footer --}}
    {{> "footer-simple"}} 

</main>
{{/post}}
